//Cores
$colorHeaderPrimary: #5f27cd;
$colorHeaderSecondary: #341f97;
$colorFormPrimary: #c8d6e5;
$colorButtonPrimary: #009432;
$colorButtonSecondary: red;
$colorOverlayLink: rgba(0, 0, 0, 0.7);